:root {
    --main-text-color: #000;
    --second-text-color: #0095f6;
    --grey-text-color: #737373;
    --date-text-color: #65676b;
    --light-text-color: #c7c7c7;
    --link-auth-text-color: #262626;
    --link-text-color: #00376b;
    --hover-text-color: #0029f6;
    --danger-text-color: #ed4956;
    --error-text-color: #ff0014;
    --white-text-color: #fff;

    --main-background-color: #0095f6;
    --second-background-color: #efefef;
    --form-background-color: #fafafa;
    --message-background-color: #4d00ff;
    --message-background-color22: #0095f6;
    --hover-background-color: #badefe;
    --hover-form-background-color: #efefef;
    --white-background-color: #fff;

    --border-color: #dbdbdb;
    --second-border-color: #efefef;
    --avatar-border-color: #d9d9d9;
    --focus-border-color: #0095f6;
    --error-border-color: #ff0014;
}