.wrapper {
    margin: 32px auto;
    padding: 0;
}

.container {
    width: 935px;
    padding: 42px;
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    width: 380px;
    height: 581px;
}