.btn {
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 8px 42px;

    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    text-align: center;

    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.btn:hover {
    background-color: var(--hover-background-color);
    color: var(--main-text-color);
}

.btnPrimary {
    background: var(--main-background-color);
    color: var(--white-text-color);
}

.btnSecondary {
    background: var(--second-background-color);
    color: var(--main-text-color);
}

.btnOutline {
    background-color: var(--white-background-color);
    color: var(--second-text-color);
    padding: 0px 38px;
}

.btnOutline:hover {
    color: var(--hover-text-color);
     background-color: var(--white-background-color);
}

